    body {
  padding: 10px;
}

@font-face {
  font-family: MyFont;
  src: url(font/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: MyFontBold;
  src: url(font/SourceSansPro-Semibold.ttf);
}


@font-face {
  font-family: MyFontBoldItalic;
  src: url(font/SourceSansPro-SemiboldItalic.ttf);
}


@font-face {
  font-family: MyFontLight;
  src: url(font/SourceSansPro-ExtraLight.ttf);
}


.infoButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-top: 2px;
}

.infoButton:hover {
  background: rgb(238,238,238);
}


.fi_line {
  margin-left: 30px;
}


.fi_mainText {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 55px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: rgb(130,130,130);
}


.fi_pathText {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 6px;
  margin-right: 6px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffa126;
}


.fi_pathText2 {
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: MyFont;
  font-weight: 500;
  font-size: 12px;
  color: #ffa126;
}


.fi_grid {
  margin-left: 30px;
}


.ci_grid {
  margin-left: 30px;
}


.fi_textLabel {
  font-family: MyFont;
  color: #4f4f4f;
  font-size: 14px;
  text-align: justify;
}


.fi_textLabelTitle {
  font-family: MyFontBold;
  color: #4f4f4f;
  font-size: 14px;
  text-align: justify;
  text-decoration: underline;
  margin-left: 10px;
}


.fi_image {
  margin-left: 25px;
  margin-top: 2px;
}


.fi_textList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background: rgb(238,238,238);
}


.fi_textList:focus {
  border: 1px solid #ffa126;
}


.fi_textList2 {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background: rgb(238,238,238);
}


.fi_textList2:focus {
  border: 1px solid #ffa126;
}


.fi_textList2:disabled {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #d6d6d6;
}


.fi_textBox {
  width: 250px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background: rgb(238,238,238);
}


.fi_textBox:focus {
  border: 1px solid #ffa126;
}


.fi_verticalPanel {
  background: white;
  margin-left: 30px;
  margin-top: -6px;
  width: 750px;
  padding-top: 10px;
  padding-bottom: 10px;
}


.ci_textList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background: rgb(238,238,238);
}


.ci_textList:focus {
  border: 1px solid #ffa126;
}


.sa_verticalPanel2 {
  background: white;
  margin-left: 30px;
  margin-top: -6px;
  width: 1100px;
  padding-bottom: 10px;
}



.sa_checkBox {
  margin-left: 40px;
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.sa_checkBox2 {
  margin-left: 20px;
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.sa_checkBox3 {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.sa_verticalPanel {
  border: 1px solid grey;
  margin-left: 20px;
  margin-top: 20px;
}


.sa_textArea {
  width: 950px;
  height: 100px;
  border: 1px solid #ccc;
  margin-left: 20px;
  font-size: 14px;
  font-family: MyFont;
  background: rgb(238,238,238);
}


.sa_textArea:focus {
  border: 1px solid #ffa126;
}


.gi_verticalPanel {
  background: white;
  margin-left: 30px;
  margin-top: -6px;
  width: 1100px;
  padding-bottom: 10px;
}


.gi_textBox {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  background: rgb(238,238,238);
}


.gi_textBox:focus {
  border: 1px solid #ffa126;
}


.gi_textBox2 {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  background: rgb(238,238,238);
}


.gi_textBox2:focus {
  border: 1px solid #ffa126;
}


.gi_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.gi_textLabel {
  font-family: MyFont;
  color: #4f4f4f;
  font-size: 14px;
}


.gi_boundTab {
  margin-left: 40px;
}


.gi_titleText {
  font-family: MyFontBold;
  margin-left: 0px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}

.gi_titleText2 {
  font-family: MyFontBold;
  margin-left: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.af_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.af_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.ct_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.ct_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.cp_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.cp_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.lo_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.lo_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.ar_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.ar_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.fm_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.fm_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.sc_titleText {
  font-family: MyFontBold;
  margin-left: 10px;
  text-decoration: underline;
  font-size: 14px;
  color: #4f4f4f;
}


.sc_checkBox {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.so_textLabel {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
}


.so_tableTextLabel {
  font-size: 14px;
  font-family: MyFontBold;
}


.so_verticalPanel {
  margin-top: 5px;
  margin-left: 10px;
  height: 150px;
  width:350px;
  background-color:  #ffffff;
  border: 1px solid #ccc;
  background: rgb(238,238,238);
}


.so_textBox {
  width: 150px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
  background: rgb(238,238,238);
}


.so_textBox:focus {
  border: 1px solid #ffa126;
}


.im_textLabel {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-left: 10px;
}


.im_captionLabel {
  font-size: 14px;
  font-family: MyFont;
  color: #4f4f4f;
  width: 200px;
}


.flexTable {
  height: 10px;
  width: 350px;
  font-size: 12px;
  font-family: MyFont;
}


.flexTable-SecondColumn {
  width: 40px;
}


.gwt-CheckBox {
  font-family: MyFont !important;
  margin-left: 20px !important;
}


.gwt-TabLayoutPanel {
  
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
  background: #616266 !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  overflow: auto !important;
  background: rgb(238,238,238) !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  font-family: MyFont !important;
  font-size: 14px !important;
  margin-left: 4px !important;
  padding: 0px 10px 4px 10px !important;
  cursor: pointer !important;
  cursor: hand !important;
  color: white !important;
  font-weight: normal !important;
  text-align: center !important;
  background: #616266 !important;
  border-radius: 3px 3px 0px 0px !important;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default !important;
  background: #616266 !important;
  border-bottom: 5px solid #ffa126 !important;
}


.gwt-MenuBar {
  cursor: default !important;  
}


.gwt-MenuBar-horizontal {
  margin-top: 0px !important;
  margin-left: 30px !important;
  background: white !important;
  border: 0px solid !important;
}


.gwt-MenuBar-horizontal .gwt-MenuItem {
  border: 5px Solid #616266 !important;
  font-family: MyFontLight !important;
  color: #ffa126 !important;
  font-size: 16px !important;
  vertical-align: middle !important;
  padding: 5px 10px 5px 10px !important;
  background: #616266 !important;
}


.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	border-bottom: 5px Solid #616266 !important;
	background: #616266 !important;
}


.gwt-MenuBar-vertical {
  margin-top: 0px !important;
  margin-left: 0px !important;
  background: white !important;
}


.gwt-MenuBar-vertical table {
  border-collapse: collapse !important;
}


.gwt-MenuBar-vertical .gwt-MenuItem {
  font-family: MyFont !important;
  font-size: 14px !important;
  padding: 5px 20px 5px 20px !important;
}


.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background: rgb(240,240,240) !important;
}


.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 10px 0px 10px 0px !important;
}


.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px !important;
  padding: 0px !important;
  border: 0px !important;
  border-top: 1px solid #ccc !important;
  overflow: hidden !important;
}


.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 10px !important;
  padding-left: 10px !important;
}


.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: rgb(240,240,240) !important;
}


.gwt-MenuBarPopup {
  margin-left: -5px !important;
}


.gwt-MenuBarPopup .menuPopupTopCenter {
  border-top: 1px solid rgb(180,180,180) !important;
  background: white !important;
}


.gwt-MenuBarPopup .menuPopupBottomCenter {
 border-bottom: 1px solid rgb(180,180,180) !important;
  background: white !important;
}


.gwt-MenuBarPopup .menuPopupMiddleLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupMiddleRight {
  border-left: 1px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}


.gwt-MenuBarPopup .menuPopupTopLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupTopRight {
  border-left: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupBottomLeft {
  border-right: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-MenuBarPopup .menuPopupBottomRight {
  border-left: 1px solid rgb(180,180,180) !important;
  border-top: 0px solid rgb(180,180,180) !important;
  background: transparent !important;
}


.gwt-DateBox {
  padding: 5px 4px !important;
  border: 1px solid #ccc !important;
  width: 80px !important;
  height: 15px !important;
  font-family: MyFont !important;
  font-size: 14px !important;
  background: rgb(238,238,238) !important;
  text-align: center !important;
  margin-left: 10px !important;
}


.gwt-DateBox:focus {
  border: 1px solid #ffa126 !important;
}


.table-center {
  text-align: center;
}

.myUploadBox {
  background: #e5e5e5;
  padding: 10px 10px 10px 10px;
  cursor: default;
  font-family: MyFont;
  font-size: 14px;
  border: 1px solid black;
  
}


.myUploadTextBox {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  background: white;
}


.myUploadTextBox:focus {
  border: 1px solid #ffa126;
}


.myUploadTextLabel {
  margin-bottom:30px;
  margin-left: 20px;
  font-family: MyFont;
  font-size: 14px;
  text-align: justify;
}


.myUploadTextLabel2 {
  margin-left: 20px;
  font-family: MyFont;
  font-size: 14px;
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold !important;
}


.myAddBox {
  width: 235px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFontBold;
  margin-left: 20px;
  background-color: #ffffff;
}


.myAddBox:focus {
  border: 1px solid #ffa126;
}


.au_textBox {
  width: 250px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFontBold;
  margin-left: 20px;
  background-color: #ffffff;
}


.au_textBox:focus {
  border: 1px solid #ffa126;
}


.geoTextList {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background: rgb(238,238,238);
}

.geoTextList:disabled {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #d6d6d6;
}


.geoTextList:focus {
  border: 1px solid #ffa126;
}


.uploadImage {
  padding: 1px 1px 1px 1px;
  
}


.uploadImage:hover {
  padding: 0px 0px 0px 0px;
  border: 1px solid #000000;
  cursor: pointer;
}


.popupText {
  font-family: MyFont;
  margin-left: 20px;
  text-align: justify;
  font-size: 14px;
}


.addCatPopupText {
  font-family: MyFont;
  font-size: 14px;
  margin-right:20px;
  margin-bottom:30px;
  margin-top:10px;
  margin-left: 10px;
}


.addImagePopupText {
  margin-bottom:20px;
  font-family: MyFont;
  font-size: 14px;
  margin-left: 20px;
  text-align: justify;
}


.addImagePopupCaption {
  font-family: MyFont;
  font-size: 14px;
  margin-top:20px;
  margin-left: 20px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 10px;
}


.gwt-TabLayoutPanelScrollPanel {
  background: rgb(238,238,238);
}

.gwt-TabLayoutPanelScrollPopup {
  border: 0px solid black;
}
