/* Formatting specific to the StockWatcher application */

    body {
  padding: 10px;
}

@font-face {
  font-family: MyFont;
  src: url(font/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: MyFontBold;
  src: url(font/SourceSansPro-Semibold.ttf);
}

.infoButton {
  width: 25px;
  height: 25px;
  margin-left: 20px;
  margin-top: 2px;
}

.infoButton:hover {
  background-color: #cccccc;
}


.fi_image {
	margin-left: 30px;
	margin-top: 2px;
}


.fi_textList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}

.fi_textList2 {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}

.fi_textList2:disabled {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #d6d6d6;
}


.fi_textBox {
  width: 250px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}


.ci_textList {
  width: 150px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}


.sa_checkBox {
  margin-left: 40px;
  font-size: 14px;
  font-family: MyFont;
}


.sa_checkBox2 {
  margin-left: 20px;
  font-size: 14px;
  font-family: MyFont;
}


.sa_verticalPanel {
  border: 1px solid grey;
  margin-left: 20px;
  margin-top: 20px;
}


.sa_textArea {
  width: 950px;
  height: 100px;
  border: 1px solid #ccc;
  margin-left: 20px;
  font-size: 14px;
  font-family: MyFont;
  background-color: #ffffff;
}


.gi_textBox {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  background-color: #ffffff;
}


.gi_textBox2 {
  width: 100px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  background-color: #ffffff;
}


.gi_boundTab {
  margin-left: 40px;
}


.gi_titleText {
  font-family: MyFontBold;
  margin-left: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 14px;
}

.gi_titleText2 {
  font-family: MyFontBold;
  margin-left: 20px;
  margin-bottom: 0px;
  text-decoration: underline;
  font-size: 14px;
}


.so_verticalPanel {
  margin-top: 5px;
  margin-left: 10px;
  height: 150px;
  width:350px;
  background-color:  #ffffff;
  border: 1px solid #ccc;
}


.so_textBox {
  width: 150px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}


.flexTable {
  height: 10px;
  width: 350px;
  font-size: 12px;
  font-family: MyFontBold;
}


.flexTable-SecondColumn {
  width: 40px;
}


.gwt-Label {
  font-family: MyFont !important;
  margin-left: 20px !important;
  text-align: justify !important;
  font-size: 14px !important;
}

.gwt-CheckBox {
  font-family: MyFont !important;
  margin-left: 20px !important;
}


.gwt-StackLayoutPanel {
  border-bottom: 1px solid #bbbbbb !important;
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: hand !important;
  font-size: 1.1em !important;
  font-family: MyFont !important;
  padding: 3px !important;
  border: 1px solid #bbbbbb !important;
  border-bottom: 0px !important;
  background: #d3def6 !important;
  
}

.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
  background: #bfcaec !important;
  font-size: 1.2em !important;
}


.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  background: #e6e6e6 !important;
}


.gwt-TabLayoutPanel {
	
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
	
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  overflow: auto !important;
  padding: 6px !important;
  background: #e6e6e6 !important; 
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  cursor: pointer !important;
  cursor: hand !important;
  color: black !important;
  font-size: 1.1em !important;
  color: #000000 !important;
  text-align: left !important;
  background: #d3def6 !important;
  font-family: MyFont !important;
}


.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default !important;
  background: #e6e6e6 !important;
  font-size: 1.2em !important;
  color: #000000 !important;
  font-family: MyFont !important;
}


.gwt-TabLayoutPanelScrollPanel {
  background: #e6e6e6 !important;
}


.gwt-TabLayoutPanelScrollButton:hover {
  background: #c8c8c8!important;
}


.gwt-DateBox {
  padding: 5px 4px !important;
  border: 1px solid #ccc !important;
  width: 80px !important;
  height: 15px !important;
  margin-left: 20px !important;
  font-size: 14px !important;
  font-family: MyFontBold !important;
  background-color: #ffffff !important;
  text-align: center !important;
}


.gwt-MenuBar .gwt-MenuItem {
  font-family: MyFont !important;
  font-size: 14px !important;
  vertical-align: top !important;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 5px 20px 0px 5px !important;
  vertical-align: bottom !important;
}

.table-center {
  text-align: center;
}

.myUploadBox {
  background: #e5e5e5;
  padding: 4px 8px 4px 4px;
  cursor: default;
  font-family: MyFont;
  font-size: 14px;
  border: 1px solid black;
  
}

.myAddBox {
  width: 215px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFontBold;
  margin-left: 20px;
  background-color: #ffffff;
}

.au_textBox {
  width: 250px;
  height: 17px;
  padding: 3px 3px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFontBold;
  margin-left: 20px;
  background-color: #ffffff;
}


.geoTextList {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #ffffff;
}

.geoTextList:disabled {
  width: 200px;
  height: 25px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-family: MyFont;
  margin-left: 20px;
  background-color: #d6d6d6;
}


.uploadImage {
  padding: 1px 1px 1px 1px;
  
}


.uploadImage:hover {
  padding: 0px 0px 0px 0px;
  border: 1px solid #000000;
  cursor: pointer;
}


.popupText {
  font-family: MyFont;
  margin-left: 20px;
  text-align: justify;
  font-size: 14px;
}

