<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
   
  <!-- Servlets -->
  <servlet>
	<servlet-name>DownloadFunction</servlet-name>
	<servlet-class>com.eufar.asmm.server.DownloadFunction</servlet-class>
  </servlet>
  
  <servlet-mapping>
	<servlet-name>DownloadFunction</servlet-name>
	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>UploadFunction</servlet-name>
	<servlet-class>com.eufar.asmm.server.UploadFunction</servlet-class>
  </servlet>
		  
  <servlet-mapping>
	<servlet-name>UploadFunction</servlet-name>
	<url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>PrintFunction</servlet-name>
	<servlet-class>com.eufar.asmm.server.PrintFunction</servlet-class>
  </servlet>
		  
  <servlet-mapping>
	<servlet-name>PrintFunction</servlet-name>
	<url-pattern>/print</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>UploadImage</servlet-name>
	<servlet-class>com.eufar.asmm.server.UploadImage</servlet-class>
  </servlet>
		  
  <servlet-mapping>
	<servlet-name>UploadImage</servlet-name>
	<url-pattern>/image</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <servlet>
    <servlet-name>FetchDataFromServer</servlet-name>
    <servlet-class>com.eufar.asmm.server.FetchDataFromServer</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FetchDataFromServer</servlet-name>
    <url-pattern>/FetchDataFromServer</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <filter>
 	<filter-name>clearCache</filter-name>
 	<filter-class>com.eufar.asmm.server.clearCache</filter-class>
  </filter>

  <filter-mapping>
 	<filter-name>clearCache</filter-name>
 	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- remote logging -->
  <servlet>
    <servlet-name>remoteLogging</servlet-name>
    <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLogging</servlet-name>
    <url-pattern>/asmm_eufar/remote_logging</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Asmm_eufar.html</welcome-file>
  </welcome-file-list>

</web-app>
